---
import '../styles/main.css'

const heading = "Montirin";
const subheading = "Manajemen Bengkel, Bengkelmu Dalam Genggaman.";
const appIcon = "montirin.github.io/images/app-icon.svg";
const appScreenshot = "montirin.github.io/images/app-screenshot.png";
const footerImage = "montirin.github.io/images/banners.svg";
const badges = [
	{
		link: "https://apps.apple.com/us/app/party-banner/id1610931185",
		image: "montirin.github.io/images/google-play-badge.png"
	},
];

const pageTitle = "Montirin"
const favicon = "montirin.github.io/images/favicon.svg"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="container">
			<main>
				<div class="text-container">
					<img src={appIcon} class="app-icon">
					<h1 class="heading">{heading}</h1>
					<h2 class="subheading">{subheading}</h2>
					<div class="badge-container">
						{badges.map(badge => (
							<div>
								<a href={badge.link} target="_blank">
									<img src={badge.image} class="badge" />
								</a>
							</div>
						))}
					</div>
				</div>
				<div>
					<img src={appScreenshot} class="app-screenshot">
				</div>
			</main>
			<footer>
				<img src={footerImage} class="footer-image">
			</footer>
		</div>
	</body>
</html>
